In [1]:
# Import the libraries and the data
import pandas as pd
import numpy as np

file_path = 'Dev_data_to_be_shared.xlsx'
df = pd.read_excel(file_path)
df_og = df.copy()
df.head()

,Primary key,Target,account_opening_date,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,...,demog_39,email_domain,demog_40,demog_41,others_42,others_43,others_44,others_45,demog_42,demog_43
0,1,0,2023-02-18,IN,53.0,3,100001 to 5L,101.0,Rural,Self_Employed,...,1,gmail,low,1,NaN,0.0,NaN,NaN,1,medium
1,2,0,2023-02-01,IN,55.0,1,0 to 1L,101.0,Tier 1,Salaried,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
2,3,0,2022-12-09,IN,55.0,3,0 to 1L,101.0,Tier 2,Self_Employed,...,1,gmail,medium,1,NaN,NaN,NaN,NaN,1,High
3,4,0,2023-03-31,IN,53.0,3,100001 to 5L,101.0,Tier 7,Self_Employed,...,1,gmail,High,1,NaN,NaN,NaN,NaN,1,High
4,5,0,2023-01-17,IN,55.0,6,0 to 1L,101.0,Tier 1,Student,...,1,gmail,low,1,NaN,NaN,NaN,NaN,1,medium

In [2]:
# Check for NaN values in each column
columns_with_nan = df.columns[df.isnull().any()]

# Extract the columns with NaN values
df_columns_with_nan = df[columns_with_nan]

In [3]:
nan_percentage = df.isnull().mean() * 100

# Identify columns with more than half NaN values (i.e., > 50%)
columns_with_more_than_half_nans = nan_percentage[nan_percentage > 50].index

# Print the identified columns
# print(columns_with_more_than_half_nans)

columns_with_nan = nan_percentage.index

In [4]:
import pandas as pd

# List of columns with more than half NaN values
columns_with_more_than_half_nans = ['txn_78', 'txn_80', 'txn_81', 'others_42', 'others_43', 'others_44', 'others_45']


# Count the number of NaN values in each specified column
nan_counts = df[columns_with_nan].isnull().sum()

# Set display options to show all rows
pd.set_option('display.max_rows', None)

# Sort the Series in ascending order
sorted_nan_counts = nan_counts.sort_values()

# Print the sorted Series
print(sorted_nan_counts)

Primary key                 0
others_2                    0
others_12                   0
others_13                   0
others_14                   0
others_18                   0
others_1                    0
others_33                   0
others_34                   0
others_35                   0
others_36                   0
others_37                   0
others_38                   0
others_39                   0
demog_42                    0
Target                      0
demog_39                    0
account_opening_date        0
demog_41                    0
email_domain                0
others_41                   1
demog_27                    1
demog_28                    1
demog_29                    1
others_32                   1
others_31                   1
others_30                   1
others_29                   1
others_20                   1
others_19                   1
demog_23                    1
demog_25                    1
demog_18                    1
others_40                   1
demog_22                    1
demog_11                    1
demog_12                    1
demog_21                    1
demog_20                    1
demog_19                    1
demog_6                     1
demog_17                    1
others_3                    1
others_4                    1
occupation                  2
others_8                    3
others_7                    3
others_11                   3
others_10                   3
others_6                    3
others_9                    3
demog_30                    3
demog_38                    3
demog_31                    3
demog_32                    3
demog_33                    3
demog_34                    3
demog_35                    3
demog_36                    3
demog_37                    3
demog_10                    4
demog_7                     6
income                      6
demog_3                     6
others_28                   9
others_27                   9
demog_5                    25
demog_26                  294
demog_24                  294
demog_16                 3016
demog_15                 3016
demog_14                 3016
demog_13                 3016
country_code             3666
demog_2                  3668
demog_1                  3669
demog_43                 3705
demog_8                  3751
demog_40                 3813
city_tier                4250
demog_4                  8841
demog_9                 12914
others_5                16818
others_25               17287
others_26               17287
others_24               17287
others_23               17287
others_21               17287
others_22               17287
os                      24604
txn_25                  25794
txn_23                  25794
txn_22                  25794
txn_24                  25794
txn_26                  25794
txn_48                  25794
txn_28                  25794
txn_29                  25794
txn_21                  25794
txn_30                  25794
txn_27                  25794
txn_20                  25794
txn_16                  25794
txn_18                  25794
txn_1                   25794
txn_2                   25794
txn_3                   25794
txn_4                   25794
txn_5                   25794
txn_6                   25794
txn_7                   25794
txn_8                   25794
txn_9                   25794
txn_10                  25794
txn_11                  25794
txn_12                  25794
txn_13                  25794
txn_14                  25794
txn_15                  25794
txn_47                  25794
txn_17                  25794
txn_19                  25794
txn_32                  25794
txn_31                  25794
txn_68                  25794
txn_69                  25794
txn_67                  25794
txn_66                  25794
txn_65                  25794
txn_64                  25794
txn_63                  25794
txn_62                  25794
txn_61                  25794
txn_60                  25794
txn_70                  25794
txn_46                  25794
txn_57                  25794
txn_56                  25794
txn_55                  25794
txn_54                  25794
txn_53                  25794
txn_52                  25794
txn_51                  25794
txn_50                  25794
txn_49                  25794
txn_58                  25794
txn_71                  25794
txn_59                  25794
txn_73                  25794
txn_33                  25794
txn_34                  25794
txn_35                  25794
txn_36                  25794
txn_37                  25794
txn_38                  25794
txn_72                  25794
txn_40                  25794
txn_41                  25794
txn_42                  25794
txn_39                  25794
txn_44                  25794
txn_74                  25794
txn_43                  25794
txn_76                  25794
txn_75                  25794
txn_45                  25794
others_15               41365
others_17               41365
others_16               41365
txn_79                  44956
txn_77                  45424
txn_81                  51465
txn_78                  56728
txn_80                  57478
others_43               95421
others_42               97895
others_44               99126
others_45               99306
dtype: int64

In [5]:
mode = df['others_41'].mode()

# Extract the mode value from the Series
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['others_41'].fillna(mode_value, inplace=True)

In [6]:
arr = df['demog_27'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_27'].mode()
mode_value = mode.iloc[0]  
df['demog_27'].fillna(mode_value, inplace=True)

In [7]:
mode = df['demog_28'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_28'].fillna(mode_value, inplace=True)

In [8]:
mode = df['demog_29'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_29'].fillna(mode_value, inplace=True)

In [9]:
arr = df['others_32'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_32'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['others_32'].fillna(mode_value, inplace=True)

In [10]:
arr = df['others_31'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_31'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['others_31'].fillna(mode_value, inplace=True)

In [11]:
arr = df['others_30'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_30'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  
# Fill missing values with the mode value
df['others_30'].fillna(mode_value, inplace=True)

In [12]:
arr = df['others_29'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_29'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  
# Fill missing values with the mode value
df['others_29'].fillna(mode_value, inplace=True)

In [13]:
arr = df['others_20'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_20'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  
# Fill missing values with the mode value
df['others_20'].fillna(mode_value, inplace=True)

In [14]:
arr = df['others_19'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_19'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  
# Fill missing values with the mode value
df['others_19'].fillna(mode_value, inplace=True)

In [15]:
mean = df['demog_23'].mode()
# Extract the mode value from the Series
mean_value = mean.iloc[0]  
# Fill missing values with the mode value
df['demog_23'].fillna(mean_value, inplace=True)

In [16]:
arr = df['demog_25'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_25'].mode()
# Extract the mode value from the Series
mode_value = mode.iloc[0]  
# Fill missing values with the mode value
df['demog_25'].fillna(mode_value, inplace=True)

In [17]:
arr = df['demog_18'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_18'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_18'].fillna(mode_value, inplace=True)

In [18]:
arr = df['others_40'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_40'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['others_40'].fillna(mode_value, inplace=True)

In [19]:
unique_strings = df['demog_22'].unique()
unique_strings

array(['Y', 'N', nan], dtype=object)

In [20]:
df['demog_22'] = df['demog_22'].replace({'Y': 1, 'N': 0})

In [21]:
arr = df['demog_22'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_22'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_22'].fillna(mode_value, inplace=True)

In [22]:
arr = df['demog_11'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_11'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_11'].fillna(mode_value, inplace=True)

In [23]:
arr = df['demog_12'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_12'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_12'].fillna(mode_value, inplace=True)

In [24]:
arr = df['demog_21'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_21'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_21'].fillna(mode_value, inplace=True)

In [25]:
arr = df['demog_20'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
# print(non_zero_values.size)

mode = df['demog_20'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_20'].fillna(mode_value, inplace=True)

In [26]:
arr = df['demog_19'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
# print(non_zero_values.size)

mode = df['demog_19'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_19'].fillna(mode_value, inplace=True)

In [27]:
arr = df['demog_6'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_6'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_6'].fillna(mode_value, inplace=True)

In [28]:
arr = df['demog_17'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['demog_17'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['demog_17'].fillna(mode_value, inplace=True)

In [29]:
arr = df['others_3'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_3'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['others_3'].fillna(mode_value, inplace=True)

In [30]:
arr = df['others_4'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]

mode = df['others_4'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['others_4'].fillna(mode_value, inplace=True)

In [31]:
unique_strings = df['occupation'].unique()
print(unique_strings)

# Define a mapping dictionary for replacing strings with numerical values
occupation_mapping = {
    'Self_Employed': 1,
    'Salaried': 2,
    'Student': 3,
    'Other': 4,
    'Retired': 5,
    'Homemaker': 6,
    'Minor': 7,
    'Unemployed': 8
}

# Fill NaN values in the 'occupation' column with a default numerical value (e.g., 0)
df['occupation'] = df['occupation'].fillna(0)

# Replace the remaining string values in the 'occupation' column with numerical values
df['occupation'] = df['occupation'].replace(occupation_mapping)

['Self_Employed' 'Salaried' 'Student' 'Other' 'Retired' 'Homemaker'
 'Minor' 'Unemployed' nan]

In [32]:
arr = df['others_3'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
# np.unique(non_zero_values)
# non_zero_values.size

mode = df['others_3'].mode()
mode_value = mode.iloc[0]  

# Fill missing values with the mode value
df['others_3'].fillna(mode_value, inplace=True)

In [33]:
np.set_printoptions(suppress=True)
arr = df['others_7'].values

non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
np.unique(non_zero_values)
# non_zero_values.size

# Calculate median of 'others_7' column
median_value = df['others_7'].median()

# Fill missing values in 'others_7' column with the median value
df['others_7'].fillna(median_value, inplace=True)

In [34]:
np.set_printoptions(suppress=True)
arr = df['others_11'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
np.unique(non_zero_values)
# non_zero_values.size

median_value = df['others_11'].median()

df['others_11'].fillna(median_value, inplace=True)

In [35]:
arr = df['others_10'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
np.unique(non_zero_values)
# len(non_zero_indices[0])
median_value = df['others_10'].median()

df['others_10'].fillna(median_value, inplace=True)

In [36]:
arr = df['others_6'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
np.unique(non_zero_values)
# len(non_zero_indices[0])
median_value = df['others_6'].median()

df['others_6'].fillna(median_value, inplace=True)

In [37]:
arr = df['others_9'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
np.unique(non_zero_values)
# len(non_zero_indices[0])
median_value = df['others_9'].median()

df['others_9'].fillna(median_value, inplace=True)

In [38]:
arr = df['demog_30'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
np.unique(non_zero_values)
len(non_zero_indices[0])
mode_value = df['demog_30'].mode()

df['demog_30'].fillna(mode_value, inplace=True)

In [39]:
arr = df['demog_38'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
np.unique(non_zero_values)
len(non_zero_indices[0])
mode_value = df['demog_38'].mode()

df['demog_38'].fillna(mode_value, inplace=True)

In [40]:
arr = df['demog_7'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
# print(np.unique(arr))
# print(np.unique(non_zero_values))
# print(len(non_zero_indices[0]))
mode_value = df['demog_7'].mode()
df['demog_7'].fillna(mode_value, inplace=True)

In [41]:
for i in range(30, 39):
    column_name = f'demog_{i}'
    arr = df[column_name].values
    non_zero_indices = np.nonzero(arr)
    non_zero_values = arr[non_zero_indices]
    # print(f"Column {column_name}:")
    # print("Unique values:", np.unique(arr))
    # print("Unique non-zero values:", np.unique(non_zero_values))
    # print("Non-zero count:", len(non_zero_indices[0]))
    mode_value = df[column_name].mode().iloc[0]  # Extract the mode value
    df[column_name].fillna(mode_value, inplace=True)  # Fill missing values with the mode value

In [42]:
df['others_8'] = df_og['others_8']
arr = df['others_8'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
# print(np.unique(arr))
# print(np.unique(non_zero_values))
# print(len(non_zero_indices[0]))
median_value = df['others_8'].median()
df['others_8'].fillna(median_value, inplace=True)

In [43]:
# Replace 'Y' with 1 and 'N' with 0 in 'demog_10' column
df['demog_10'] = df['demog_10'].replace({'Y': 1, 'N': 0})

# Find mode of 'demog_10' column
mode_value = df['demog_10'].mode().iloc[0]  # Extract the mode value

# Fill missing values in 'demog_10' column with the mode value
df['demog_10'].fillna(mode_value, inplace=True)

In [44]:
df['demog_7'] = df_og['demog_7']
arr = df['demog_7'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
print(np.unique(arr))
print(np.unique(non_zero_values))
print(len(non_zero_indices[0]))
median_value = df['demog_7'].median()
df['demog_7'].fillna(median_value, inplace=True)

[ 1. nan]
[ 1. nan]
100000

In [45]:
unique_strings = df['income'].unique()
# print(unique_strings)
# print(len(unique_strings))

# Define a mapping dictionary for replacing income categories with numerical values
income_mapping = {
    0: 0,
    '0 to 1L': 1,
    '100001 to 5L': 2,
    '5L to 10L': 3,
    '10L to 25L': 4,
    '25L to 50L': 5,
    '50L to 3Crore': 6,
    '3Crore to 5Crore': 7,
    '5Crore to 10Crore': 8,
    '10Crore to 15Crore': 9,
    '15Crore to 20Crore': 10,
    '20Crore to 35Crore': 11,
}

# Fill NaN values in the 'income' column with a default numerical value (e.g., 0)
df['income'] = df['income'].fillna(-1)

# Replace the remaining string values in the 'income' column with numerical values
df['income'] = df['income'].replace(income_mapping)

In [46]:
arr = df['demog_3'].values
non_zero_indices = np.nonzero(arr)
non_zero_values = arr[non_zero_indices]
print(np.unique(arr))
print(np.unique(non_zero_values))
print(len(non_zero_indices[0]))
median_value = df['demog_3'].median()
df['demog_3'].fillna(median_value, inplace=True)

[101. 102. 103. 104. 105. 106. 168. 213.  nan]
[101. 102. 103. 104. 105. 106. 168. 213.  nan]
100000

In [47]:
unique_strings = df['others_28'].unique()
# print(unique_strings)
print(len(unique_strings))
count = sum(df['others_28'][i] == 9999 for i in range(100000))
# print(count)
median_value = df['others_28'].median()
df['others_28'].fillna(median_value, inplace=True)

309

In [48]:
unique_strings = df['others_27'].unique()
# print(unique_strings)
print(len(unique_strings))
count = sum(df['others_27'][i] == 9999 for i in range(100000))
# print(count)
median_value = df['others_27'].median()
df['others_27'].fillna(median_value, inplace=True)

224

In [49]:
# Get unique values in the 'demog_5' column
unique_values = df['demog_5'].unique()
print("Number of unique values:", len(unique_values))

# Count occurrences of value 0 in the 'demog_5' column
count_zeros = sum(df['demog_5'] == 0)
print("Number of zeros:", count_zeros)

# Calculate median of the 'demog_5' column
median_value = df['demog_5'].median()

# Fill missing values in the 'demog_5' column with the median value
df['demog_5'].fillna(median_value, inplace=True)

Number of unique values: 5
Number of zeros: 0

In [50]:
unique_values = df['demog_26'].unique()
print("Number of unique values:", len(unique_values))

count_zeros = sum(df['demog_26'] == 0)
print("Number of zeros:", count_zeros)

median_value = df['demog_26'].median()

df['demog_26'].fillna(median_value, inplace=True)

Number of unique values: 96
Number of zeros: 1

In [51]:
unique_values = df['demog_24'].unique()
print("Number of unique values:", len(unique_values))

count_zeros = sum(df['demog_24'] == 0)
print("Number of zeros:", count_zeros)

mean_value = df['demog_24'].mean()
mean_value = round(mean_value)
df['demog_24'].fillna(mean_value, inplace=True)

Number of unique values: 14976
Number of zeros: 0

In [52]:
unique_values = df['demog_16'].unique()
print("Number of unique values:", len(unique_values))

count_zeros = sum(df['demog_16'] == 0)
print("Number of zeros:", count_zeros)

mode_value = df['demog_16'].mode()
mode_value = round(mode_value)
df['demog_16'].fillna(mode_value, inplace=True)

Number of unique values: 3
Number of zeros: 656

In [53]:
unique_values = df['demog_16'].unique()
print("Number of unique values:", len(unique_values))

count_zeros = sum(df['demog_16'] == 0)
print("Number of zeros:", count_zeros)

median_value = df['demog_16'].median()
median_value = round(median_value)
df['demog_16'].fillna(median_value, inplace=True)


unique_values = df['demog_15'].unique()
print("Number of unique values:", len(unique_values))
count_zeros = sum(df['demog_15'] == 0)
print("Number of zeros:", count_zeros)

median_value = df['demog_15'].median()
median_value = round(median_value)
df['demog_15'].fillna(median_value, inplace=True)

unique_values = df['demog_14'].unique()
print("Number of unique values:", len(unique_values))

count_zeros = sum(df['demog_14'] == 0)
print("Number of zeros:", count_zeros)

median_value = df['demog_14'].median()
median_value = round(median_value)
df['demog_14'].fillna(median_value, inplace=True)

unique_values = df['demog_13'].unique()
print("Number of unique values:", len(unique_values))

count_zeros = sum(df['demog_13'] == 0)
print("Number of zeros:", count_zeros)

median_value = df['demog_13'].median()
median_value = round(median_value)
df['demog_13'].fillna(median_value, inplace=True)

Number of unique values: 3
Number of zeros: 656
Number of unique values: 3
Number of zeros: 21160
Number of unique values: 3
Number of zeros: 96821
Number of unique values: 3
Number of zeros: 4763

In [54]:
unique_strings = df['country_code'].unique()
unique_dict = {value: index+1 for index, value in enumerate(df['country_code'].unique())}

# Replace values in 'country_code' column with their corresponding index values
df['country_code'] = df['country_code'].map(unique_dict)

df['country_code'].fillna(0, inplace=True)

In [55]:
unique_strings = df['demog_2'].unique()
df['demog_2'] = df['demog_2'].replace('ZZ', 0)
unique_strings

array([3, 1, 6, 2, 5, 7, 4, 10, nan, 11, 17, 15, 16, 9, 'ZZ'],
      dtype=object)

In [56]:
median_value = df['demog_2'].median()
median_value = round(median_value)
df['demog_2'].fillna(median_value, inplace=True)

In [57]:
unique_strings = df['demog_1'].unique()
median_value = df['demog_1'].median()
median_value = round(median_value)
df['demog_1'].fillna(median_value, inplace=True)

In [58]:
unique_strings = df['demog_43'].unique()
unique_dict = {value: index+1 for index, value in enumerate(df['demog_43'].unique())}
df['demog_43'] = df['demog_43'].map(unique_dict)

In [59]:
median_value = df['demog_8'].median()
median_value = round(median_value)
# Fill missing values in the 'demog_5' column with the median value
df['demog_8'].fillna(median_value, inplace=True)

In [60]:
unique_strings = df['demog_40'].unique()
unique_dict = {value: index for index, value in enumerate(df['demog_40'].unique())}
df['demog_40'] = df['demog_40'].map(unique_dict)

In [61]:
unique_strings = df['city_tier'].unique()
unique_dict = {value: index for index, value in enumerate(df['city_tier'].unique())}
df['city_tier'] = df['city_tier'].map(unique_dict)

In [62]:
unique_strings = df['demog_4'].unique()
unique_dict = {value: index for index, value in enumerate(df['demog_4'].unique())}
df['demog_4'] = df['demog_4'].map(unique_dict)

In [63]:
median_value = df['demog_9'].median()
median_value = round(median_value)
df['demog_9'].fillna(median_value, inplace=True)

In [64]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# Initialize the MICE imputer
mice_imputer = IterativeImputer()

# Perform MICE imputation on 'others_5'
df['others_5'] = mice_imputer.fit_transform(df[['others_5']]).round()

In [65]:
for i in range(21, 27):
    column_name = f'others_{i}'
    # Perform MICE imputation on the column and round off to nearest integer
    df[column_name] = mice_imputer.fit_transform(df[[column_name]]).round()

In [66]:
for i in range(1, 82):
    column_name = f'txn_{i}'
    df[column_name] = mice_imputer.fit_transform(df[[column_name]]).round()

In [67]:
df['os'].unique()
os_mapping = {'ios':0, 'and':1}
df['os'] = df['os'].map(os_mapping)

In [68]:
df['os'].fillna(-1, inplace=True)

In [69]:
df['others_15'] = mice_imputer.fit_transform(df[['others_15']]).round()
df['others_16'] = mice_imputer.fit_transform(df[['others_16']]).round()
df['others_17'] = mice_imputer.fit_transform(df[['others_17']]).round()

In [70]:
df.drop(['others_42', 'others_43', 'others_44', 'others_45'], axis=1, inplace=True)

In [71]:
unique_strings = df['email_domain'].unique()
unique_dict = {value: index for index, value in enumerate(df['email_domain'].unique())}
df['email_domain'] = df['email_domain'].map(unique_dict)

In [72]:
df['opening_year'] = df['account_opening_date'].dt.year
df['opening_month'] = df['account_opening_date'].dt.month
df['opening_day'] = df['account_opening_date'].dt.day
df.drop(['account_opening_date'], axis=1, inplace=True)

C:\Users\Rithvik\AppData\Local\Temp\ipykernel_12960\1870426970.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['opening_year'] = df['account_opening_date'].dt.year
C:\Users\Rithvik\AppData\Local\Temp\ipykernel_12960\1870426970.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['opening_month'] = df['account_opening_date'].dt.month
C:\Users\Rithvik\AppData\Local\Temp\ipykernel_12960\1870426970.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['opening_day'] = df['account_opening_date'].dt.day

In [73]:
df.head()

,Primary key,Target,country_code,demog_1,demog_2,income,demog_3,city_tier,occupation,demog_4,...,txn_81,demog_39,email_domain,demog_40,demog_41,demog_42,demog_43,opening_year,opening_month,opening_day
0,1,0,1,53.0,3.0,2,101.0,0,1,0,...,1.0,1,0,0,1,1,1,2023,2,18
1,2,0,1,55.0,1.0,1,101.0,1,2,0,...,28.0,1,0,1,1,1,2,2023,2,1
2,3,0,1,55.0,3.0,1,101.0,2,1,0,...,48.0,1,0,2,1,1,2,2022,12,9
3,4,0,1,53.0,3.0,2,101.0,3,1,0,...,10.0,1,0,1,1,1,2,2023,3,31
4,5,0,1,55.0,6.0,1,101.0,1,3,0,...,23.0,1,0,0,1,1,1,2023,1,17

In [74]:
# Save the cleaned data to a new CSV file
df.to_csv('new_data_imputed.csv', index=False)

In [75]:
# Check if any columns have NaN values
columns_with_nan = df.columns[df.isnull().any()]
print(columns_with_nan)

Index([], dtype='object')